<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"
            th:href="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}">
    </script>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <style>
        #chg-btn {
            position: absolute;
            top: 5%;
            left: 70%;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 col-md-offset-3 border border-success rounded p-5 mb-5">
            <form  th:object="${recipe}" th:action="@{/recipe/}"  method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Recipe Information</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-12">
                                    <label>Recipe Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                    <span  th:if="${#fields.hasErrors('description')}">
                                        <ul class="alert alert-danger">
                                            <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Categories:</label>
                                </div>
                                <div class="col-md-4 form-group">
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 1
                                        </label>
                                    </div>
                                    <div class="radio" th:remove="all">
                                        <label>
                                            <input type="checkbox" value=""/>
                                            Cat 2
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                        <a href="#" id="chg-btn" class="btn btn-outline-success float-right mr-4"
                                                                  th:href="@{'/recipe/' + ${id}} + '/image'"> CHG</a>
                                            <span th:if="${recipe.getImage() != null}">
                                                <img class="card-img" th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}">
                                            </span>
                                            <span th:unless="${recipe.getImage() != null}">
                                                <img class="card-img" src="https://www.maxpixel.net/static/photo/1x/Meatloaf-Recipe-Food-Egg-Loaf-Onion-Meat-31957.png">
                                        </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Prep Time:</label>
                                    <input type="text" class="form-control" th:field="*{prepTime}"/>
                                    <span  th:if="${#fields.hasErrors('prepTime')}">
                                        <ul class="alert alert-danger">
                                            <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Cooktime:</label>
                                    <input type="text" class="form-control" th:field="*{cookTime}"/>
                                    <span  th:if="${#fields.hasErrors('cookTime')}">
                                        <ul class="alert alert-danger">
                                            <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Difficulty:</label>
                                    <select class="form-control" th:field="*{difficulty}">
                                        <option th:each="diffVal : ${T(jaep.springframework.recipeapp.domain.Difficulty).values()}"
                                        th:value="${diffVal.name()}"
                                        th:text="${diffVal.name()}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Servings:</label>
                                    <input type="text" class="form-control" th:field="*{servings}"/>
                                    <span  th:if="${#fields.hasErrors('servings')}">
                                        <ul class="alert alert-danger">
                                            <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Source:</label>
                                    <input type="text" class="form-control" th:field="*{source}"/>
                                    <span  th:if="${#fields.hasErrors('source')}">
                                        <ul class="alert alert-danger">
                                            <li th:each="err : ${#fields.errors('source')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>URL:</label>
                                    <input type="text" class="form-control" th:field="*{url}"/>
                                    <span  th:if="${#fields.hasErrors('url')}">
                                        <ul class="alert alert-danger">
                                            <li th:each="err : ${#fields.errors('url')}" th:text="${err}"></li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-11 ">
                                    <h1 class="panel-title">Ingredients</h1>
                                </div>
                                <div class="col-md-1">
                                    <a class="btn btn-default" href="#"
                                       th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <li th:remove="all">1 Cup of milk</li>
                                        <li th:remove="all">1 Teaspoon of chocolate</li>
                                        <li th:each="ingredient : ${recipe.ingredients}"
                                            th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.getUom().getUom() +
                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Directions</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{directions}"></textarea></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Notes</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{notes.recipeNotes}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-block btn-group-lg">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>