<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8" />
    <title>Recipes Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"
            th:href="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}">
    </script>
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
</head>
<body>
<div class="container mt-5 mb-5">
<table class="table table-hover">
    <thead class="bg-success text-white">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">AMOUNT</th>
        <th scope="col">UNIT OF MEAS.</th>
        <th scope="col">VIEW</th>
        <th scope="col">UPDATE</th>
        <th scope="col">DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ingredient :${recipe.ingredients}">
        <td th:text="${ingredient.id}"></td>
        <td th:text="${ingredient.description}"></td>
        <td th:text="${ingredient.amount}"></td>
        <td th:text="${ingredient.uom.uom}"></td>
        <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id}} + '/show'">View</a></td>
        <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id}} + '/update'">Update</a></td>
        <td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id}} + '/delete'">Delete</a></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>